{% extends 'base.html.twig' %}
{% block title %}
	List of Manufacturers

{% endblock %}
{% block body %}
	<a href="{{ path('create_manufacturer') }}">
		Create Manufacturer

	</a>
	<br>
	<h1>
		List of manufacturers

	</h1>
	<form id="searchForm" method="get" action="{{ path('manufacturers_view') }}">
		<label for="search">
			Search:

		</label>
		<input type="text" placeholder="Пошук" id="search" name="search" value="{{ search }}">

		<label for="sort">
			Sort:

		</label>
		<select id="sort" name="sort">
			<option value="id asc" {% if sort == 'id asc' %} selected {% endif %}>
				ID Ascending

			</option>
			<option value="id desc" {% if sort == 'id desc' %} selected {% endif %}>
				ID Descending

			</option>
		</select>
		<button type="submit">
			Search

		</button>
	</form>
	<a href="{{ path('manufacturers_view') }}">
		clear search

	</a>
	<br>
	<table>
		<thead>
			<tr>
				<th>
					ID

				</th>
				<th>
					Manufacturer Name

				</th>
				<th>
					Website

				</th>
				<th>
					Country

				</th>
				<th>
					Delete

				</th>
				<th>
					Edit

				</th>
			</tr>
		</thead>
		<tbody>
			{% for manufacturer in manufacturers %}
				<tr>
					<td>
						{{ manufacturer.id }}
					</td>
					<td>
						{{ manufacturer.ManufacturerName }}
					</td>
					<td>
						{{ manufacturer.Website }}
					</td>
					<td>
						{{ manufacturer.Country }}
                    </td>
					
					<td>
						<a href="{{ path('delete_manufacturer', { 'id': manufacturer.id }) }}" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this product?')">
							Delete manufacturer

						</a>
					</td>
					<td>
						<a href="{{ path('edit_manufacturer', { 'id': manufacturer.id }) }}" class="btn btn-success">
							Edit manufacturer

						</a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</body></html>{% endblock %}
