{% extends 'base.html.twig' %}
{% block title %}
	List of Memory Types

{% endblock %}
{% block body %}
{% include 'admin/base.html.twig' %}

<form id="searchForm" method="get" action="{{ path('memories_view') }}">
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    <a class="btn btn-dark form-control" href="{{ path('create_memorytype') }}">
                        Create Memory Type
                    </a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <input type="text" class="form-control" id="search" name="search" value="{{ search }}" placeholder="Search">
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <select class="form-select" id="sort" name="sort">
                        <option value="id asc" {% if sort == 'id asc' %} selected {% endif %}>
                            ID Ascending
                        </option>
                        <option value="id desc" {% if sort == 'id desc' %} selected {% endif %}>
                            ID Descending
                        </option>
                    </select>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <button type="submit" class="btn btn-success form-control">Search</button>
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col">
                <table class="table table-striped table-hover table-sm align-middle">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Type</th>
                            <th>Speed</th>
                            <th>Bus Width</th>
                            <th>Band Width</th>
                            <th>Delete</th>
                            <th>Edit</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        {% for memory in memories %}
                            <tr>
                                <td>{{ memory.id }}</td>
                                <td>{{ memory.Type }}</td>
                                <td>{{ memory.Speed }} Gb/s</td> 
                                <td>{{ memory.BusWidth }} bit</td>
                                <td>{{ memory.BandWidth }} Gb/s</td>
                                <td>
                                    <a href="{{ path('delete_memory', { 'id': memory.id }) }}" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this memory type?')">
                                        &#10005;
                                    </a>
                                </td>
                                <td>
                                    <a href="{{ path('edit_memory', { 'id': memory.id }) }}" class="btn btn-success">
                                        &#9998;
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</form>

{% endblock %}
