{% extends 'base.html.twig' %}
{% block title %}
	List of Orders

{% endblock %}
{% block body %}
	{% include 'admin/base.html.twig' %}
	<form id="searchForm" method="get" action="{{ path('orders_view') }}">
		<div class="container mt-5">
			<div class="row">

				<div class="col-md-6">
					<div class="form-group">
						<input type="text" class="form-control" id="search" name="search" value="{{ search }}" placeholder="Search">
					</div>
				</div>
				<div class="col-md-3">
					<div class="form-group">
						<select class="form-select" id="sort" name="sort">
							<option value="id asc" {% if sort == 'id asc' %} selected {% endif %}>
								ID Ascending
							</option>
							<option value="id desc" {% if sort == 'id desc' %} selected {% endif %}>
								ID Descending
							</option>
							<option value="TotalPrice asc" {% if sort == 'TotalPrice asc' %} selected {% endif %}>
								TotalPrice Ascending
							</option>
							<option value="TotalPrice desc" {% if sort == 'TotalPrice desc' %} selected {% endif %}>
								TotalPrice Descending
							</option>
							<option value="OrderDate asc" {% if sort == 'OrderDate asc' %} selected {% endif %}>
								Order Date Ascending
							</option>
							<option value="OrderDate desc" {% if sort == 'OrderDate desc' %} selected {% endif %}>
								Order Date Descending
							</option>
						</select>
					</div>
				</div>
				<div class="col-md-3">
					<div class="form-group">
						<button type="submit" class="btn btn-success form-control">Search</button>
					</div>
				</div>
			</div>

			<div class="row mt-3">
				<div class="col">
					<table class="table table-striped table-hover table-sm align-middle">
						<thead>
							<tr>
								<th>ID</th>
								<th>Customer Name</th>
								<th>Email</th>
								<th>Address</th>
								<th>Date</th>
								<th>Total Price</th>
								<th>Details</th>
							</tr>
						</thead>
						<tbody class="table-group-divider">
							{% for order in orders %}
								<tr>
									<td>{{ order.id }}</td>
									<td>{{ order.CustomerName }}</td>
									<td>{{ order.Email }}</td>
									<td>{{ order.Address }}</td>
									<td>{{ order.OrderDate|date('Y-m-d H:i:s') }}</td>
									<td>{{ order.TotalPrice }}</td>
									<td>
										<ul class="list-group">
											{% for detail in orderDetails %}
												{% if detail.order.id == order.id %}
													<li>{{ detail.product.vendor.name }}
														{{ detail.product.gpu.name }}
														-
														{{ detail.quantity }}
														pc</li>
												{% endif %}
											{% endfor %}
										</ul>
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</form>

{% endblock %}
