{% extends 'base.html.twig' %}
{% block title %}
    List of Products
    
{% endblock %}
{% block stylesheets %}
    {# Add the following style block to set the image dimensions #}
    <style>
        img.product-image {
            max-width: 100px;  /* Set the maximum width */
            max-height: 100px; /* Set the maximum height */
        }
    </style>
{% endblock %}
{% block body %}
    <a href="{{ path('create_product') }}">
        Create product
            
    </a>
    <br>
        <h1>
            List of Products
                    
        </h1>
        <form id="searchForm" method="get" action="{{ path('products_view') }}">
            <label for="search">
                Search:
                            
            </label>
            <input type="text" placeholder="Пошук" id="search" name="search" value="{{ search }}">
                <label for="gpu">
                    GPU:
                                    
                </label>
                <select id="gpu" name="gpu">
                    <option value="">
                        All GPUs
                                            
                    </option>
                    {# Populate GPU options based on your data #}
                    {% for gpu in gpus %}
                        <option value="{{ gpu.id }}" {% if gpu.id == selectedGpu %} selected{% endif %}>
                            {{ gpu.name }}
                        </option>
                    {% endfor %}
                </select>
                <label for="vendor">
                    Vendor:
                                    
                </label>
                <select id="vendor" name="vendor">
                    <option value="">
                        All Vendors
                                            
                    </option>
                    {# Populate Vendor options based on your data #}
                    {% for vendor in vendors %}
                        <option value="{{ vendor.id }}" {% if vendor.id == selectedVendor %} selected{% endif %}>
                            {{ vendor.name }}
                        </option>
                    {% endfor %}
                </select>
                <label for="sort">
                    Sort by Price:
                                    
                </label>
                <select id="sort" name="sort">
                    <option value="id asc" {% if sort == 'id asc' %} selected{% endif %}>
                        ID Ascending
                                            
                    </option>
                    <option value="id desc" {% if sort == 'id desc' %} selected{% endif %}>
                        ID Descending
                                            
                    </option>
                    <option value="Price asc" {% if sort == 'Price asc' %} selected{% endif %}>
                        Price Ascending
                                            
                    </option>
                    <option value="Price desc" {% if sort == 'Price desc' %} selected{% endif %}>
                        Price Descending
                                            
                    </option>
                    <option value="ReleaseDate asc" {% if sort == 'ReleaseDate asc' %} selected{% endif %}>
                        GPU Date Ascending
                                    
                    </option>
                    <option value="ReleaseDate desc" {% if sort == 'ReleaseDate desc' %} selected{% endif %}>
                        GPU Date Descending
                                    
                    </option>
                </select>
                <button type="submit">
                    Search
                                    
                </button>
            </form>
            <a href="{{ path('products_view') }}">
                clear search
                            
            </a>
            <br>
                <table>
                    <thead>
                        <tr>
                            <th>
                                Image
                                                            
                            </th>
                            <th>
                                ID
                                                            
                            </th>
                            <th>
                                GPU
                                                            
                            </th>
                            <th>
                                Vendor
                                                            
                            </th>
                            <th>
                                Price
                                                            
                            </th>
                            <th>
                                Cooling Type
                                                            
                            </th>
                            <th>
                                Delete
                                                            
                            </th>
                            <th>
                                Edit
                                                            
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for product in products %}
                            <tr>
                                <td>
                                    {% if product.image is not null %}
                                        <img src="{{ asset('images/' ~ product.image) }}" alt="Product Image" class="product-image">
                                        {% endif %}
                                    </td>
                                    <td>
                                        {{ product.id }}
                                    </td>
                                    <td>
                                        {{ product.Vendor.name }}
                                    </td>
                                    <td>
                                        {{ product.GPU.Name }}
                                    </td>
                                    <td>
                                        {{ product.Price }}
                                        UAH
                                                                            
                                    </td>
                                    <td>
                                        {{ product.CoolingType }}
                                    </td>
                                    <td>
                                        <a href="{{ path('delete_product', { 'id': product.id }) }}" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this product?')">
                                            Delete Product
                                                                                    
                                        </a>
                                    </td>
                                    <td>
                                        <a href="{{ path('edit_product', { 'id': product.id }) }}" class="btn btn-success">
                                            Edit Product
                                                                                    
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </body>
            </html>
        {% endblock %}
        