{# templates/admin/create_product.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Create PCI{% endblock %}

{% block body %}
    <h1>Create PCI</h1>

    {{ form_start(form) }}
    {{ form_row(form.Version) }}
    {{ form_row(form.BandWidth) }}
    {{ form_row(form.LanesNumber) }}
    {{ form_row(form.save) }}
    {{ form_end(form) }}
{% endblock %}
