{# templates/admin/create_product.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Create Order{% endblock %}

{% block body %}
    <h1>Create Order</h1>

    {{ form_start(form) }}
    {{ form_row(form.CustomerName) }}
    {{ form_row(form.OraderDate) }}
    {{ form_row(form.TotalPrice) }}
    {{ form_row(form.save) }}
    {{ form_end(form) }}
{% endblock %}
