{# templates/admin/create_product.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Create Product{% endblock %}

{% block body %}
    <h1>Create Product</h1>

    {{ form_start(form) }}
    {{ form_row(form.image) }}
    {{ form_row(form.price) }}
    {{ form_row(form.coolingType) }}
    {{ form_row(form.vendor) }}
    {{ form_row(form.gpu) }}
    {{ form_row(form.save) }}
    {{ form_end(form) }}
{% endblock %}
