{# templates/admin/create_product.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Create Review{% endblock %}

{% block body %}
    <h1>Create Review</h1>

    {{ form_start(form) }}
    {{ form_row(form.ReviewDate) }}
    {{ form_row(form.ReviewText) }}
    {{ form_row(form.Rating) }}
    {{ form_row(form.Reviewer) }}
    {{ form_row(form.Product) }}
    {{ form_row(form.save) }}
    {{ form_end(form) }}
{% endblock %}
