{# templates/admin/create_product.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Create MemoryType{% endblock %}

{% block body %}
    <h1>Create Product</h1>

    {{ form_start(form) }}
    {{ form_row(form.Type) }}
    {{ form_row(form.Speed) }}
    {{ form_row(form.BusWidth) }}
    {{ form_row(form.BandWidth) }}
    {{ form_row(form.save) }}
    {{ form_end(form) }}
{% endblock %}
